{{> head }}

    <!--Renderizamos el navbar-->
{{> navbar }}

    <div class="row">
        <div class="col-8">
            <h1>Cápitan América</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, dignissimos voluptates.
                 Doloremque veritatis fuga obcaecati soluta at excepturi delectus enim, possimus fugiat 
                 aliquid explicabo qui, voluptate a tempore in quibusdam!
            </p>
        </div>
        <div class="col-4">
            <img src="assets/img/capitan-america.jpg" class="img-thumbnail">
        </div>
    </div>

{{> footer }}